* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
  }

nav {
    background-color: #0f8de0;
    color: #fff;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-evenly;
  }
  
  li {
    display: inline;
    margin-right: 20px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
  }